strict-peer-dependencies=false
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node-linker=hoisted
proxy=http://127.0.0.1:10809/
https-proxy=http://127.0.0.1:10809/
